body  {background-color: #22FFEE;
	  background-image: url("astra.jpg");
	  background-repeat: no-repeat;
	  Background-attachment:fixed;
	  background-position: 25% 25%
      
	 }
h1 	 { color: #99FFFF;
	   font-family: arial, verdana, sans-serif;
	   font-variant: small-caps;
	   font-weight: normal;
	   font-size: 2em;
       
     }
	 
p	{  color: #002299;
	   font-family: arial, verdana, sans-serif;
	   font-weight: normal;
	   font-size: 1em;
	   text-indent: 30px;
	   text-align: justify;
	   text-decoration: underline;
	   letter-spacing: 4px;
	   text-transform: capitalize;
	
	}
	
a:link {
		color: purple;
      }
a:visited {
		color: yellow;
		}
a:hover
	{
		color: red;
		letter-spacing: 4px;
	}

