#menu
{
  float: top;
  background-color: #8db3e2;
  width: 100%;
  height: 160px;
}
#stronaglowna
{
  float: left;
  background-color: #f2f2f2;
  width: 60%;
  height: 380px;
}
#daneosobowe
{
  float: left;
  background-color: #bfbfbf;
  width: 40%;
  height: 140px;
}
#ciekawelinki
{
  float: left;
  background-color: #d9d9d9;
  width: 40%;
  height: 140px;
  
}
#motto
{
  float: left;
  color: red;
  background-color: #ffffff;
  width: 40%;
  height: 100px;
}
#szkola
{
  width: 80px;
  height: 80px;
}
a
{
  text-decoration: none;
}
a:link
{
  color: blue;
}
a:visited
{
  color: darkblue;
}