#naglowek
{
margin-top:150px;
}

#menu
{
	float:left;
	margin-right:150px;
}

#tresc
{
	float:left;
}
#dataLayer
{
	margin-top:800px;
	text-align:center;
	
}
#stopka
{
	text-align:center;
}