body
{
  margin:0;
  background-color: #F6E5DC;
  font-family: Tahoma;
}

.baner
{
  background-color: #2F180C;
  text-align: center;
  color:white;
  height: 60px;
}

.lewy
{
 float:left;
  width: 60%;
}

.lewy img
{
  height:400px;
}

.prawy
{
  float:left;
  font-size: 200%;
  padding:50px;
}

.prawy ul
{
  list-style-type: circle;
}

.dolny
{
  float:left;
  background-color:#D0B6A8;
  text-align: center;
  padding:30px;
  width:100%;
}

.stopka
{
  float:left;
  background-color:#2F180C;
  color:white;
  height: 60px;
  width:100%;
}

.stopka a
{
  font-style:italic;
}
