body 
 {
	background-color: #F6E5DC;
	color: #000;
	margin: 0;
	padding: 0;
}
#banner {
	background-color: #2F180C;
	color: white;
	font-size: 120%;
	height:60px;
	width:100%;
	text-align:center;
}
#lewy {
	width: 60%;
	height: 500px;
	background-color: pink;
	float:left;

}
#prawy {
	width: 40%;
	font-size: 200%;
	height: 500px;
	background-color: pink;
	float:right;
	
}
#dolny {
	padding:30px;
	background-color: #D0B6A8;
	text-align:center;

}
#stopka {
	background-color: #2F180C;
	color: white;
	height:60px;
	text-align:middle;
	
}

.obraz {   

        
        height: 400px;
        background: url("menu.jpg") no-repeat;
}
