body
{
  background-size: cover;
  background-image: url(tło.png);
  color:white;
  margin: 0px;
  padding: 0px;

}
.a
{
border-radius: 25px;
 background-color:black;
 color: white;
 padding: 10px;
 width: 500px;
 height: auto;
 margin-left: auto;
 margin-right: auto;
 text-align: center;


}
.b
{
  border-radius: 25px;
 background: white;
 color:black;
 width: 520px;
 height: auto;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}
.c
{
 font-size: 42px;
 border-radius: 25px;
 background: white;
 color:black;
 width: 520px;
 height: auto;
 margin-left: auto;
 margin-right: auto;
  text-align: center;
}
.d
{
  text-align: left;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.e
{
  text-align: center;
  width: 520px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
input[type=button]
{
  margin-top: 20px;
}
