#baner
{
background-color:#993333;
color:white;
text-align:center;
height:80px;	
}
#pierwszy
{
background-color:#CC6666;
color:white;
text-align:center;	
height:150px;
width:25%;
float:left;
font-family:Tahoma;
}
#drugi
{
background-color:#CC6666;
color:white;
text-align:center;	
height:150px;
width:25%;
float:left;
font-family:Tahoma;
}
#trzeci
{
background-color:#CC6666;
color:white;
text-align:center;	
height:150px;
width:25%;
float:left;
font-family:Tahoma;
}
#czwarty
{
background-color:#CC6666;
color:white;
text-align:center;	
height:150px;
width:25%;
float:left;
font-family:Tahoma;
}
#lewy
{
background-color:#CC9999;	
height:550px;
width:40%;
float:left;
}
#srodkowy
{
	background-color:#FFCCCC;	
height:550px;
width:20%;
float:left;
}
#prawy
{
background-color:#CC9999;
height:550px;
width:40%;
float:left;	
}
#stopka
{
	background-color:#993333;
color:white;
text-align:right;
}
table
{
border-style:dotted;
border-color:red;
width:100%;
text-align:center;
}
#przycisk
{
background-color:red;
color:white;
border:none;
margin:20px;	
width:100px;
height:50px;	

	
}	
	
