#naglowek
{
color:red;
font-size:40px;
border:1px solid black;
height:150px;
}
#menu
{
	float:left;
	margin-right:150px;
	font-size:30px;

}
#tresc
{
	float:left;
	
}	
#stopka
{
	float:left;
	margin-top:800px;
	color:red;
	border:1px solid black;
	height:50px;
	width:1250px;
}