* {margin:0; padding:0;}
#baner
{
  background-color: #3f3f49;
  color: : #FFF;
  height: 100px;
}
#menu
{
  background-color: #7a878b;
  color: : #FFF;
  height: 50px;
}
#context
{
  background-color: #EEEEEE;
  color: : #000;
  height: 550px;
}
#stopka
{
  background-color: #7a878b;
  color: : #FFF;
  height: 50px;
  text-align: right;
  padding: 20px;
}
#text_stopka
{font-style: italic;}
.pozycja>a
{
  background-color: #7a878b;
  color: : #000;
  height: 40px;
  width: 20%;
  padding-top: 15px;
  float: left;
}
.pozycja:hover>a
{background-color: #cddce0;
color: : #000;
}
a {text-align: center;
text-decoration: none;
color: #000;}

ul{padding: 30px;
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 110%;
}

#framework {position: absolute;
    top: 250px;
    left: 350px;
  }
#phpjpg
{margin-left: 100px;
  width: 130px;
  height: 90px;
  float: left;
}
#napis_baner
{
  padding:20px;
  margin-left: 100px;
  color: #fff;
  font-size: 180%;
  font-weight: 900;
  float: left;
}
